*.vscode
*Logs
# Assets/Plugins/*
# *meta
Build
Library/*
*.log
Temp
*.sln
*.csproj
*.userprefs
*.blob
*.unityproj
Build_Data
Build.x86_64
UnityPlayer.so
robomaster-v0_BurstDebugInformation_DoNotShip
# Assets/Packages
obj